body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  line-height: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 20px;
  line-height: 40px;
  color: white;
  background: #666;
  padding-left: 20px;
  font-weight: normal;
  margin: 0;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

#logo {
  position:absolute;
  bottom:30px;
  left: 31px;
  font-family: Georgia;
  color:#666;
  text-shadow: 1px 0 #888;
  font-size: 48px;
}

#selector {
  width: 100%;
  margin:0;
  font-size: 14px;
}

.close {
  position: absolute;
  top: 8px;
  margin-left: -22px;
  text-decoration: none;
  font-family: Helvetica;
  width: 20px;
  line-height: 20px;
  text-align: center;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%,rgba(255, 255, 255, 0.1) 100%);
  box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-shadow:  -1px 1px 0px rgba(0, 0, 0, 0.4);;
  display:block;
  border: 1px #999 solid;
  border-radius: 4px;
}

#flyout {
  position: absolute;
  left: -9999px;
  top: 0;
  width: 240px;
  background-color: #eee;
  border-right: 1px #999 solid;
  height: 100%;
  z-index: 5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
/*
label {
  display: block;
  margin-left: 40px;
  width: 40px;
}

input {
  display: block;
  width: 10px;
  float: left;
}*/

#flyout .content {
  position: absolute;
/*  border-right: 1px #ddd solid;*/
/*  border-top: 1px #ddd solid;*/
  height: 100%;
  top: 0px;
  width: 100%;
  background: white;
}

.padded-box {
  padding: 20px;
}

#page {
  position:absolute;
  left: 80px;
  right: 0;
  top: 0;
  bottom: 0;
}

#bang {
  position: relative;
  top:10px;
  font-size: 1.18em;
  left: -37px;
}

#document {
  width: 100%;
  height: 100%;
  border: 0;
}

.dot {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background-image: url(6s.png);
  background-repeat: repeat-x;
  background-color: #ddd;
  cursor: move;
}

#modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav {
  background-color: #333;
  width: 68px;
  padding: 6px;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.nav ul, .nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.nav li {
  margin-bottom:6px;
}

.nav a {
  display: block;
  padding: 8px;
}

.nav a:hover {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.1) 100%);
  border-radius: 8px;
}

.nav a.enabled {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%,rgba(255, 255, 255, 0.2) 100%);
  border-radius: 8px;
}